.body {
  background-image: url("https://images.saymedia-content.com/.image/t_share/MTc2MjY4NDcxMDE2OTU3MTAx/tropical-beach-pictures.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.landing-page {
  background-image: url("https://media.istockphoto.com/id/1047234038/vi/anh/n%E1%BB%81n-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-chuy%E1%BB%83n-%C4%91%E1%BB%99ng-m%E1%BB%9D-l%C3%A0m-m%E1%BA%A5t-n%C3%A9t-m%C3%A0u-xanh-s%C3%A1ng.jpg?s=612x612&w=0&k=20&c=MHrUBudIg4oSZ__r77CimCZ4fIc3v2OAViGqNFl5QXc=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.booking-container {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.carousel-container {
  width: calc(100% - 500px);
}

.carousel {
  width: 200%;
  height: 600px;
}

.carousel img {
  width: 100%;
  height: 100%;
}

.booking-form {
  background-image: url("your-image-url.jpg");
  background-color: linear-gradient(
    109.6deg,
    rgba(156, 252, 248, 1) 11.2%,
    rgba(110, 123, 251, 1) 91.1%
  );
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(12, 163, 227);
  margin-top: 50px;
}
.progress-bar {
  margin-bottom: 20px;
}
.tour-container {
  /* Add styles here */
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
}
.tour-booking-card.right-align {
  float: right;
  width: 30%; /* Adjust width as needed */
  margin-left: 10px;
  padding: 10px;
  margin: 20px;
  background-color: #bfcae6;
}
.left-aligned-descriptions {
  float: left;
  width: 0%;
  margin-left: 20px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}
.descriptions-container ul {
  list-style-type: disc; /* Loại dấu tích tròn */
}
.left-aligned-descriptions {
  text-align: left;
}
.booking-button .booking-price {
  font-size: 1.5em; /* Makes the font larger */
  color: #ff4d4f; /* Example color, change as needed */
  font-weight: bold; /* Makes the font bold */
}
.calendar {
  margin-top: 20px;
}

.calendar-header {
  color: rgb(3, 18, 26);
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
}

.date-pill {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: rgb(3, 18, 26);
}
.tour-info-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.schedule {
  margin-top: 20px;
}

.schedule-item {
  margin-bottom: 20px;
}

.time {
  font-weight: bold;
  color: #007bff;
}
